# Azure service principal (used by terraform)
ARM_CLIENT_ID=""
ARM_CLIENT_SECRET=""
ARM_TENANT_ID=""
ARM_SUBSCRIPTION_ID=""

# Terraform variables
TF_VAR_synapse_sql_admin_password=""
TF_VAR_project_name="currys"
TF_VAR_location="northeurope"
TF_VAR_environment="dev"
TF_VAR_create_synapse_sql_pool=false
TF_VAR_synapse_sql_pool_sku="DW100c"
