# Azure service principal (used by terraform)
ARM_CLIENT_ID=""
ARM_CLIENT_SECRET=""
ARM_TENANT_ID=""
ARM_SUBSCRIPTION_ID=""

# Terraform variables
TF_VAR_project_name="currys"
TF_VAR_location="northeurope"
TF_VAR_environment="prod"
TF_VAR_deploy_synapse_arm=false
TF_VAR_synapse_sql_admin_login="synadmin"
TF_VAR_synapse_sql_admin_password=""
TF_VAR_synapse_user_object_id=""
TF_VAR_synapse_allow_all_connections=true
TF_VAR_synapse_azure_ad_only_authentication=true
